*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
height:100vh;
overflow:hidden;
background:
linear-gradient(
135deg,
#f7f5ef,
#fff0f7,
#eef9ee
);
color:#222;
}

nav{
position:fixed;
width:100%;
padding:30px 7%;
display:flex;
justify-content:space-between;
align-items:center;
z-index:50;
}

.logo{
font-weight:700;
font-size:22px;
}

.pill{
border:none;
background:rgba(255,255,255,.5);
backdrop-filter:blur(20px);
padding:14px 24px;
border-radius:999px;
font-weight:500;
box-shadow:0 4px 25px rgba(0,0,0,.05);
}

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
padding:30px;
position:relative;
}

.card{
max-width:760px;
width:100%;
padding:70px;
text-align:center;

background:rgba(255,255,255,.45);
backdrop-filter:blur(25px);

border-radius:36px;
border:1px solid rgba(255,255,255,.6);

box-shadow:
0 10px 45px rgba(0,0,0,.06);
z-index:2;
}

.tag{
font-size:13px;
letter-spacing:2px;
font-weight:600;
opacity:.6;
margin-bottom:20px;
}

h1{
font-size:clamp(48px,7vw,84px);
line-height:1.06;
margin-bottom:30px;
}

#quote{
font-size:24px;
font-weight:300;
line-height:1.8;
margin-bottom:45px;
color:#444;
}

.buttons{
display:flex;
justify-content:center;
gap:18px;
flex-wrap:wrap;
}

.buttons button{
border:none;
padding:18px 34px;
border-radius:999px;
font-weight:600;
cursor:pointer;
transition:.35s;
}

.buttons button:first-child{
background:#1f1f1f;
color:white;
}

.buttons button:last-child{
background:white;
}

.buttons button:hover{
transform:translateY(-4px);
}

.blur{
position:absolute;
border-radius:50%;
filter:blur(80px);
opacity:.6;
}

.blur1{
width:420px;
height:420px;
background:#ffd4e4;
left:-100px;
top:-100px;
}

.blur2{
width:400px;
height:400px;
background:#daf7d5;
right:-100px;
bottom:-100px;
}

.flower{
position:absolute;
font-size:70px;
opacity:.7;
animation:mengambang 6s ease-in-out infinite;
}

.f1{
left:10%;
top:20%;
}

.f2{
right:13%;
bottom:16%;
animation-delay:1.5s;
}

.f3{
right:18%;
top:18%;
animation-delay:2.5s;
}

@keyframes mengambang{
0%,100%{
transform:translateY(0);
}
50%{
transform:translateY(-18px);
}
}

.kelopak{
position:absolute;
font-size:28px;
animation:jatuh 3s linear forwards;
pointer-events:none;
}

@keyframes jatuh{
0%{
opacity:1;
transform:translateY(0) rotate(0);
}

100%{
opacity:0;
transform:
translateY(350px)
translateX(100px)
rotate(500deg);
}
}

@media(max-width:768px){

.card{
padding:45px 30px;
}

#quote{
font-size:18px;
}

.flower{
display:none;
}

}